<template>
  <div class="navbar">
   <div class="navbar__wrapper">
     <div class="navbar__top">
       <BaseLogo />
       <BaseSelect
           v-model="activeItem"
           :items="items"
           class="mt-5"
       />
     </div>
     <ul class="navbar__list mt-3">
       <LeftSidebarItem
           v-for="(navbarItem, index) in navbarItems"
           :key="index"
           :item="navbarItem"
           v-model="activeNavbar"
       />
     </ul>
   </div>
  </div>
</template>
<script>
  import LeftSidebarItem from "./component/LeftSidebarItem";

  export default {
    data: () => ({
      items: [
        {
          text: "Мобильный сегмент",
          value: "mobile"
        },
        {
          text: "Test1",
          value: "test1"
        }
      ],
      activeItem: 'test1',
      navbarItems: [
        {
          text: 'Главная страница',
          value: 'main'
        },
        {
          text: 'Тарифы и услуги',
          value: 'service',
          children: [
            {
              text: 'Актуальные тарифы',
              value: 'actual-service'
            },
            {
              text: 'Тест2',
              value: 'test2'
            },
            {
              text: 'Тест3',
              value: 'test3'
            },
            {
              text: 'Тест4',
              value: 'test4'
            },
          ]
        },
        {
          text: 'Сегмент',
          value: 'Segment'
        }
      ],
      activeNavbar: {
        item: 'main'
      }
    }),
    components: {
      LeftSidebarItem
    }
  }
</script>
<style lang="scss" scoped>
  .navbar{
    background: #F8F8F8;
    height: 100%;
    padding: 20px 0;

    &__wrapper{
      position: sticky;
      top: 20px;
    }

    &__top{
      padding:0 16px;
    }
  }
</style>