<template>
  <div class="estimation">
    <div class="estimation__wrapper" v-if="baseEstimation">
       <h3 class="estimation__title">Была ли статья вам полезна?</h3>
       <div class="estimation__buttons mt-4">
         <BaseButton color="gray" @click="handlePositiveClick" class="estimation__btn"> Да </BaseButton>
         <BaseButton color="gray" @click="handleNegativeClick" class="estimation__btn"> Нет </BaseButton>
       </div>
    </div>
    <Notification is-positive v-if="positiveEstimation" />
    <Notification v-if="negativeEstimation"/>
    <NegativeEstimationList v-if="showNegativeVariants" @clicked="handleSendClick"/>
  </div>
</template>
<script>
  import Notification from "./Notification";
  import NegativeEstimationList from "./NegativeEstimationList";

  export default {
    data: () => ({
      positiveEstimation: false,
      negativeEstimation: false,
      baseEstimation: true,
      showNegativeVariants: false
    }),
    components: {
      Notification,
      NegativeEstimationList
    },
    methods: {
      handlePositiveClick(){
        this.positiveEstimation = true;
        this.baseEstimation = false;
      },
      handleNegativeClick(){
        this.showNegativeVariants = true;
        this.baseEstimation = false;
      },
      handleSendClick(value){
        console.log(value);
        this.showNegativeVariants = false;
        this.negativeEstimation = true;
      }
    }
  }
</script>
<style lang="scss" scoped>
  .estimation{
    border: 1px solid #F1F1F4;
    border-radius: 12px;

    &__wrapper{
      padding: 32px 0;
    }

    &__title{
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #10083F;
    }

    &__buttons{
      display: flex;
      justify-content: center;
    }

    &__btn{

      &:first-child{
        margin-right: 10px;
      }

      &:last-child{
        margin-left: 10px;
      }
    }
  }
</style>