<template>
  <div class="gif"></div>
</template>
<script>
  export default {

  }
</script>
<style lang="scss" scoped>
  .gif{
    width: 100%;
    height: 230px;
    background: #F1F1F4;
    border-radius: 24px;
  }
</style>