<template>
  <div class="negative-estimation">
    <h3 class="negative-estimation__title">Спасибо за отзыв, как нам улучшить эту статью?</h3>
    <div class="negative-estimation__content">
      <div
          class="negative-estimation__item"
          v-for="(negativeVariant, index) in negativeEstimationVariants"
          :key="index"
      >
        <BaseRadioButton
            :label="negativeVariant.text"
            :value="negativeVariant.value"
            v-model="chosenVariant"
        />
      </div>
      <BaseButton color="yellow" class="mt-4" small @click="handleSendClick">Отправить</BaseButton>
    </div>
  </div>
</template>
<script>

  const NEGATIVE_VALUES = {
    NO_USEFUL_INFO:"NO_USEFUL_INFO",
    NOT_UNDERSTANDABLE:"NOT_UNDERSTANDABLE",
    HAS_IMAGE_OR_TEXT_PROBLEM: "HAS_IMAGE_OR_TEXT_PROBLEM",
    URL_NOT_WORKING:"URL_NOT_WORKING",
    NOT_CORRESPOND_TO_REALITY: "NOT_CORRESPOND_TO_REALITY"
  };

  export default {
    data: () => ({
      negativeEstimationVariants: [
        {
          text: 'Здесь нет полезной мне информации о теме',
          value: NEGATIVE_VALUES.NO_USEFUL_INFO
        },
        {
          text: 'Текст написан непонятно',
          value: NEGATIVE_VALUES.NOT_UNDERSTANDABLE
        },
        {
          text: 'Пропали/не прогружаются картинки',
          value: NEGATIVE_VALUES.HAS_IMAGE_OR_TEXT_PROBLEM
        },
        {
          text: 'В статье есть битые ссылки',
          value: NEGATIVE_VALUES.URL_NOT_WORKING
        },
        {
          text: 'Это не работает так, как описано в статье',
          value: NEGATIVE_VALUES.NOT_CORRESPOND_TO_REALITY
        },
      ],
      chosenVariant: NEGATIVE_VALUES.NO_USEFUL_INFO
    }),
    methods: {
      handleSendClick(){
        this.$emit('clicked', this.chosenVariant);
      }
    },
  }
</script>
<style lang="scss" scoped>
  .negative-estimation{
    padding: 32px;

    &__title{
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      color: #10083F;
      margin-bottom: 25px;
    }

    &__item{

      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
</style>