<template>
  <div class="notification" :class="notificationClasses">
    <img :src="img" alt="positive" class="notification__img" />
    <div class="notification__text">
     {{ text }}
    </div>
  </div>
</template>
<script>
  import PositiveImg from "@/assets/icons/positive.svg";
  import NegativeImg from "@/assets/icons/negative.svg";

  export default {
    props: {
      isPositive: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      img(){
        return this.isPositive ? PositiveImg : NegativeImg;
      },
      text(){
        const positiveText = 'Спасибо, мы рады, что эта статья помогла решить ваш вопрос!';
        const negativeText = 'Нам жаль, что мы не смогли помочь, мы обязательно дополним статью.';
        return this.isPositive ? positiveText : negativeText;
      },
      notificationClasses(){
        return {
          'notification--positive': this.isPositive,
          'notification--negative': !this.isPositive
        };
      }
    }
  }
</script>
<style lang="scss" scoped>
  .notification{
    display: flex;
    align-items: center;
    padding: 24px;
    border-radius: 12px;

    &--positive{
      background: rgba(255,255,77, .3);
    }

    &--negative{
      background: #D9E4FF;
    }

    &__img{
      width: 72px;
      height: 72px;
      display: block;
      object-fit: cover;
      margin-right: 24px;
    }

    &__text{
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      color: #10083F;
    }
  }
</style>