<template>
  <div class="right-sidebar">
   <ul class="right-sidebar__list">
     <li
         v-for="(item, index) in items"
         :key="index"
         class="right-sidebar__item"
         :class="{'right-sidebar__item--active': item.active}"
     >
       <a :href="`#${item.id}`" class="right-sidebar__link">{{ item.text }}</a>
     </li>
   </ul>
  </div>
</template>
<script>
  export default {
    props: {
      items: {
        type: Array,
        default: () => []
      }
    }
  }
</script>
<style lang="scss" scoped>
  .right-sidebar{
    padding: 32px 39px 0 0;

    &__list{
      list-style: none;
      border-left: 1px solid #E8E8EB;
      position: sticky;
      top: 20px
    }

    &__item{
      padding: 12px 16px;

      &--active{
        position: relative;

        a{
          font-weight: bold;
        }

        &::before{
          content: "";
          position: absolute;
          top: 0;
          left:0;
          width:2px;
          height: 100%;
          background: #FFD400;
        }
      }
    }

    &__link{
      font-size: 14px;
      line-height: 16px;
      color: #10083F;
      text-decoration: none;
    }
  }
</style>