<template>
  <li class="navbar-item">
    <div class="navbar-item__base" @click="handleItemClick" :class="{'navbar-item__base--active': isItemActive}">
      <span>{{ item.text }}</span>
      <img
          src="@/assets/icons/chevron-small.svg"
          alt="chevron"
          v-if="item.children"
          class="navbar-item__icon"
          :class="{'navbar-item__icon--rotate': showContent}"
      />
    </div>
    <SlideToggle #default="{ animationClass }">
      <div
          class="navbar-item__children"
          v-show="item.children && Array.isArray(item.children) && showContent"
          :class="animationClass"
      >
        <template v-for="(child, index) in item.children">
          <div
              class="navbar-item__child"
              :key="index"
              :class="{
                'navbar-item__child--active': child.value === activeItem.child
              }"
              @click="handleChildClick(child)"
          >{{ child.text }}</div>
        </template>
      </div>
    </SlideToggle>
  </li>
</template>
<script>
  import SlideToggle from "@/components/transitions/SlideToggle";

  export default {
    model: {
      prop: 'activeItem',
      event: 'changeActiveItem'
    },
    props: {
      item: {
        type: Object
      },
      activeItem: {
        type: Object
      }
    },
    data: () => ({
      showContent: false
    }),
    methods: {
      handleItemClick(){
        //If items have children then just toggle children
        const hasChildren = !!this.item?.children?.length;

        if(hasChildren){
          this.showContent = !this.showContent;
          return;
        }

        //If items have no children then just choose and make active
        this.handleChildClick(null)
      },
      handleChildClick(child){
        const activeNavbarItem = { item: this.item.value , child: child?.value ?? null };
        this.$emit('changeActiveItem', activeNavbarItem);
      }
    },
    computed: {
      isItemActive(){
        return this.activeItem.item === this.item.value;
      },
    },
    components: {
      SlideToggle
    }
  }
</script>
<style lang="scss" scoped>
  .navbar-item{

    &__base{
      padding: 16px;
      cursor: pointer;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--active{
        color: #10083F;
        font-weight: bold;
        position: relative;

        &::before{
          content: '';
          position: absolute;
          top:0;
          left: 0;
          width: 4px;
          height:100%;
          background: #FFD400;
          border-radius: 0 8px 4px 0;
        }
      }
    }

    &__icon{
      transform: rotateZ(180deg);
      transition: .3s all;

      &--rotate{
        transform: rotateZ(0);
      }
    }

    &__child{
      padding: 16px 32px;
      cursor: pointer;
      font-size: 14px;

      &--active{
        font-weight: bold;
      }
    }
  }
</style>