<template>
  <div class="select" ref="select">
    <div class="select__base" @click="showDropdown = !showDropdown">
      <div class="select__text">{{ selectedItem && selectedItem.text }}</div>
      <div class="select__icon" :class="{'select__icon--rotated': showDropdown}">
        <img src="@/assets/icons/chevron.svg" alt="chevron" />
      </div>
    </div>
    <div class="select__dropdown" v-if="showDropdown">
      <div class="select__wrapper">
        <div
            v-for="(item, index) in items"
            :key="index"
            class="select__item"
            :class="{'select__item--active': item.value === value}"
            @click="handleItemClick(item)"
        >
          {{ item.text }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    created(){
      window.document.addEventListener('click', this.handleOutsideClick);
      let selectedItem = this.items.find((item) => item.value === this.value);
      const hasSelectedItem = selectedItem !== -1;
      if(!hasSelectedItem) selectedItem = this.items[0]
      this.selectedItem = selectedItem;
      this.$emit('input', selectedItem?.value ?? null)
    },
    props: {
      items: {
        type: Array,
        default: () => []
      },
      value: {
        type: String
      }
    },
    data: () => ({
      showDropdown: false,
      selectedItem: null
    }),
    methods: {
      handleOutsideClick(event){
        const isClickInsideElement = this.$refs.select.contains(event.target);
        if(!isClickInsideElement) this.showDropdown = false;
      },
      handleItemClick(item){
        this.selectedItem = item;
        this.$emit('input', item.value);
        this.showDropdown = false;
      }
    },
    beforeDestroy() {
      window.document.removeEventListener('click', this.handleOutsideClick);
    },
  }
</script>
<style lang="scss" scoped>
  .select{
    position: relative;

    &__base{
      background: #F1F1F4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 9px 16px;
      border-bottom: 1px solid #A8A6B3;
      cursor: pointer;
    }

    &__text{
      font-size: 12px;
      line-height: 16px;
      color: #504D64;
    }

    &__icon{
      width: 14px;
      height: 14px;

      &--rotated{

        img{
          transform: rotateZ(-180deg);
        }
      }

      img{
        width: inherit;
        height: inherit;
        transition: .3s all;
      }
    }

    &__dropdown{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 400px;
      background: #fff;
      box-shadow: 0 4px 16px rgba(16, 8, 63, 0.12);
      z-index: 1000;
    }

    &__item{
      padding: 13px 16px;
      cursor: pointer;
      transition: .3s all;
      font-size: 12px;
      line-height: 16px;
      color: #504D64;

      &--active,
      &:hover{
        background: #F8F8F8;
      }

    }
  }
</style>