<template>
  <component
      :is="tag"
      v-bind="$attrs"
      v-on="$listeners"
      class="button"
      :class="[`button--${color}`, { 'button--small': small }]">
    <slot></slot>
  </component>
</template>
<script>
  export default {
    inheritAttrs: false,
    props: {
      tag: {
        type: String,
        default: 'button'
      },
      color: {
        type: String,
        default: 'transparent',
        validator: (value) => ['transparent', 'gray', 'yellow'].indexOf(value) !== -1
      },
      small: {
        type: Boolean,
        default: false
      }
    }
  }
</script>
<style lang="scss" scoped>
  .button{
    border-radius: 12px;
    padding: 14px 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #10083F;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s all;

    &--small{
      padding:14px 32px;
    }

    &--transparent{
      background: transparent;

      &:hover{
        background: darken(#E8E8EB, 5%);
      }

      &:active{
        background: darken(#E8E8EB, 8%);
      }
    }

    &--gray{
      background: #E8E8EB;

      &:hover{
        background: darken(#E8E8EB, 5%);
      }

      &:active{
        background: darken(#E8E8EB, 8%);
      }
    }

    &--yellow{
      background: #FFE14D;

      &:hover{
        background: darken(#FFE14D, 5%);
      }

      &:active{
        background: darken(#FFE14D, 8%);
      }
    }
  }
</style>