<template>
  <div class="base-logo" v-on="$listeners" v-bind="$attrs">
    <div class="base-logo__wrapper">
      <img src="@/assets/icons/logo.svg" alt="logo" />
      <span>DW Handbook</span>
    </div>
  </div>
</template>
<script>
  export default {
    inheritAttrs: false
  }
</script>
<style lang="scss" scoped>
  .base-logo{

    &__wrapper{
      display: flex;
      align-items: center;

      img{
        margin-right:7px;
      }
    }

    &__text{
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      color: #231F20;
    }
  }
</style>