<template>
  <label class="radio-btn">
    <input
      class="checkbox"
      type="radio"
      :checked="isChecked"
      :value="value"
      @change="$emit('change', $event.target.value)"
    />
    <span class="radio-btn__checkmark"></span>
    <span class="radio-btn__label">{{label}}</span>
  </label>
</template>
<script>
  export default {
    model: {
      prop: 'modelValue',
      event: 'change'
    },
    props: {
      label: {
        type: String,
        default: "",
        required:true
      },
      modelValue: {
        default: ""
      },
      value: {
        type: String,
        default: undefined
      }
    },
    computed: {
      isChecked() {
        return this.modelValue === this.value
      }
    }
  }
</script>
<style lang="scss" scoped>
.radio-btn{
  $self: &;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;

  &__checkmark{
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1.5px solid #A8A6B3;
  }

  &__label{
    font-size: 16px;
    line-height: 20px;
    color: #10083F;
  }

  & input:checked ~ #{$self}__checkmark {
    background-color: #10083F;
    border: 6px solid #FFE14D;
  }

  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
</style>
