<template>
  <div class="onboarding-view">
    <LeftSidebar />
    <div class="onboarding-view__content">
      <div class="main-content">
        <div class="main-content__wrapper">
          <div
              class="main-content__item"
              v-for="(contentItem, index) in mainContents"
              :key="index"
              :id="contentItem.id"
              ref="mainSections"
          >
            <h1 class="main-content__title" v-if="index=== 0">{{ contentItem.title }}</h1>
            <h2 class="main-content__subtitle" :class="{'mt-8': index !== 0}" v-else>{{ contentItem.title }}</h2>
            <p class="main-content__text mt-4">{{ contentItem.text }}</p>
          </div>
        </div>
        <Gif class="mt-4"/>
        <Estimation class="mt-8" />
      </div>
    </div>
    <RightSidebar :items="rightSidebarItems" />
  </div>
</template>
<script>
import LeftSidebar from "@/components/common/layouts/left-sidebar/LeftSidebar";
import RightSidebar from "@/components/common/layouts/right-sidebar/RightSidebar";
import Gif from "./components/Gif";
import Estimation from "./components/Estimation"

export default {
  name: 'App',
  created(){
    window.addEventListener("scroll", this.navHighlighter);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.navHighlighter);
  },
  methods: {
    navHighlighter(){
      let scrollY = window.pageYOffset;
      this.$refs.mainSections.forEach(current => {
        const sectionHeight = current.offsetHeight;
        const sectionTop = current.offsetTop - 40;
        const sectionId = current.getAttribute("id");
        const foundNavigationItemIndex = this.rightSidebarItems.findIndex((sidebarItem) => sidebarItem.id === sectionId);

        if (
            scrollY > sectionTop &&
            scrollY <= sectionTop + sectionHeight &&
            foundNavigationItemIndex !== -1
        ){
          const newSidebarItem = { ...this.rightSidebarItems[foundNavigationItemIndex], active: true};
          this.rightSidebarItems.splice(foundNavigationItemIndex, 1, newSidebarItem);
        } else {
          const newSidebarItem = { ...this.rightSidebarItems[foundNavigationItemIndex], active: false};
          this.rightSidebarItems.splice(foundNavigationItemIndex, 1, newSidebarItem);
        }
      })
    }
  },
  data:() => ({
    items: [
      {
        text: 'Мобильный сегмент',
        value: 'mobile'
      },
      {
        text: 'Тест1',
        value: 'test1'
      }
    ],
    activeItem: 'test1',
    rightSidebarItems: [
      {
        text: 'Верхнее меню',
        id: 'menuTop',
        active: false
      },
      {
        text: 'Модуль “Информация об абоненте”',
        id: 'abonentInfo',
        active: false
      },
      {
        text: 'Подключенные сервисы',
        id: 'connectedServices',
        active: false
      },
    ],
    mainContents: [
      {
        title: 'Главная страница',
        text: ` Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько
            абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору
            отточить навык публичных выступлений в домашних условиях. При создании генератора
            мы использовали небезизвестный универсальный код речей.`,
        id: 'menuTop'
      },
      {
        title: 'Верхнее меню',
        text: ` Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько
            абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору
            отточить навык публичных выступлений в домашних условиях. При создании генератора
            мы использовали небезизвестный универсальный код речей.`,
        id: 'abonentInfo'
      },
      {
        title: 'Модуль “Информация об абоненте”',
        text: `Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько
            абзацев более менее осмысленного текста рыбы на русском языке.`,
        id: 'connectedServices'
      }
    ]
  }),
  components: {
    LeftSidebar,
    RightSidebar,
    Estimation,
    Gif
  }
}
</script>
<style lang="scss">
.onboarding-view{
  display: grid;
  grid-template-columns: 280px minmax(860px, 1fr) 280px;
  height: 140vh;

  &__content{
    padding: 32px 108px;
  }
}
</style>